<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.yufei.view"
    android:versionCode="8"
    android:versionName="1.2.0.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <user-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    
    <application
        android:name="cc.yufei.view.SysApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="cc.yufei.view.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cc.yufei.view.MainActivity"
            android:screenOrientation="portrait" 
            />
        <activity
            android:name="cc.yufei.view.ShowPicActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cc.yufei.view.Viewdoor"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        <activity android:name="cc.yufei.view.SelectFileActivity" >
        </activity>
        <activity
            android:name="cc.yufei.view.RecordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cc.yufei.view.SelectOperMode"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cc.yufei.view.ExtractPicActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="cc.yufei.view.ExDialog" >
        </activity>
        <activity
            android:name="cc.yufei.view.CopyrightActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cc.yufei.view.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cc.yufei.view.HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="cc.yufei.watermarkfilter.FilterCameraActivity"
            
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
    </application>

</manifest>